body {
  font-family: Arial, sans-serif;
  text-align: center;
}

#array {
  display: flex;
  justify-content: center;
  margin: 30px;
}

.block {
  width: 40px;
  height: 40px;
  border: 1px solid black;
  margin: 5px;
  line-height: 40px;
  background-color: #f2f2f2;
}

.active {
  background-color: yellow;
}

.found {
  background-color: lightgreen;
}
input {
  padding: 5px;
  margin: 5px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}
select {
  padding: 5px;
  margin: 5px;
}
#complexity {
  margin-top: 12px;
  color: #333;
}




